{% extends 'base_index.html.twig' %}

{% block head %}
    <title>Компик</title>
    <style>
        video:hover{
            transform: scale(170%);
        }
        img:hover{
            transform: scale(170%);
        }
    </style>
{% endblock %}

{% block body %}
    <button><a style="font-size: 20px;color: black" href="/">Назад</a></button>
    <div class="schedule-card" style="display: flex;flex-direction: column; align-items: center">
        <h1 id="name_computer" style="margin-top: 2vh"></h1>
        <h3 id="description" style="margin-top: 2vh"></h3>
        <h3 id="price" style="margin-top: 1vh"></h3>
        <div style="margin-top: 5vh" id="files">

        </div>
    </div>
    <script>
        const imgType = 1, videoType = 2
        document.addEventListener('DOMContentLoaded', () => {
            let arr = document.URL.split('/')
            arr = arr[arr.length - 1]
            getComputer(arr)
        })

        async function getComputer(id) {
            let data = await fetch('../api/computer/' + id).then(data => data.json())
            data = data['data']
            document.getElementById('name_computer').innerText = `Компьютер №${data.id}`
            document.getElementById('description').innerText = `${data.type.description}`
            document.getElementById('price').innerText = `${data.type.price} руб/час`
            let html = ''
            if (data.type.files.length > 0) {
                for (let i = 0; i < data.type.files.length; i++) {
                    let file = data.type.files[i]
                    if (file.substring(file.length - 3) === 'mp4') {
                        html += `
                            <video class="video" width="400" height="200" controls="controls">
                                <source src="${file}" type="video/mp4" />
                            </video>

                        `
                    } else {
                        html += `<img style="box-shadow: 0px 0px 16px black; margin: 3vh; border-radius: 20px;" height="200" width="200"  src="${file}"/>`
                    }

                }
            } else {
                html = '<h2>Материалы не найдены</h2>'
            }
            document.getElementById('files').innerHTML = html
            let video = document.getElementsByClassName('video')
            for(let i=0;i<video.length;i++){
                video[i].load()
            }

        }
    </script>

{% endblock %}