* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

.head {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20vw;
    margin-top: 3vh;
    margin-right: 20vw;
}

.background{
    background: black;
    height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.header-text{
    color: snow;
    font-weight: unset;
    text-align: left;
    font-size: 30px;
    background: none;
}

.schedule-card{
    height: 70vh;
    background: #cad7ff;
    width: 80vw;
    border-radius: 5px;
    box-shadow: 0px -20px 0px 0px white;
    margin-top: 6vh;
}

.label-input{
    padding: 10px;
    font-size: 22px;
}

.filter-div {
    width: 50vw;
    margin: auto;
    margin-top: 3vh;
}

.schedule-main {
    height: 40vh;
    background: #8396d6;
    width: 50vw;
    border-radius: 3px;
    margin: auto;
    margin-top: 2vh;
}

.approve-button{
    background: lawngreen;
    outline: unset;
    border-radius: 2px;
    padding: 5px;
    border: unset;
    font-size: 18px;
}

.approve-button:hover {
    box-shadow: inset 0px 0px 20px 0px #919191a3;
}
.input-div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth_button{
    border-radius: 1vh;
    font-size: 20px;
    padding: 0px 2vw 0px 2vw;
}

.input{
    font-size:  18px;
}

.div_list{
    position: absolute;
    left: 79.1vw;
    font-size:  28px;
    top: 8vh;
}

.list_button{
    list-style: none;
}

.list_button li{
    background-color: aquamarine;
    text-align: center;
    border-radius: 3px;
    width: 10.5vw;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    border: solid #9eebcf;
}

.list_button li:hover{
    background-color: #5db797;
    border: solid #cdfff0;
}

.arrows{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
}

.arrows div {
    margin-left: 40px;
    margin-right: 40px;
}
.computer{
    padding-top: 40px;
    margin-left: 50px;
}