{% extends 'base.html.twig' %}

{% block head %}
    <title>Расписание</title>
    <script src="/scripts/index.js"></script>
    <link rel="stylesheet" href="/styles/loader/slick-loader.min.css" />
    <script src="/scripts/loader/slick-loader.min.js"></script>
{%  endblock %}

{%  block body %}
        <div class="schedule-card">
            <div class="schedule-main"></div>
            <div class="filters">
                <div class="filter-div">
                    <label class="label-input" for="count_people">Кол-во людей</label>
                    <input class="input" id="count_people" type="number" min="1" />
                </div>
                <div class="filter-div">
                    <label class="label-input" for="calendar">Дата</label>
                    <input class="input" id="calendar" type="datetime-local" />
                </div>
                <div class="filter-div">
                    <button style="float: right;" class="approve-button" onclick="getSchedule()">Применить</button>
                </div>
            </div>
        </div>
{% endblock %}